@font-face {
    font-family: raleway;
    font-weight: normal;
    font-style: normal;
    src: url(ttf/Raleway-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    background-color: #E1EDE6;
}

.high {
    display: flex;
    background-color: #E1EDE6;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 35px;
    height: 35px;
    margin-top: -2%;
}
.conteiner-logo {
    margin-left: 165px;
}

.d-flex {
    display: flex;
}   

.logo_text {
    color: #598D66;
    font-family: raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    margin-top: 2%;
}

.high_right {
    display: inline-flex;
    gap: 60px;
    margin-right: 12%;
}

.cart {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 1px;
    justify-content: center;
    align-items: center;
}

.cart:hover {
    cursor: pointer;
}

.high_text {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.center_text {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.ink {
    color: #598D66;
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.high_center {
    display: flex;
    width: 100%;
    height: 620px;
    padding: 0px 0;
}

.bird {
    width: 450px;
    margin-left: 165px;
}

.high_right>a {
    text-decoration: none;
}
.center_under_text{
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 20px;

}
.button{
    color: #598D66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0%;
}

.buttonxd{
    display: flex;
    height: 30px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    margin-top: 60px;
}

.high_center_right{
    display: inline-block;
    margin-left: 30px;
    margin-right: 165px;
    margin-top: 144px;
    margin-bottom: 145px;
}
.buttons{
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 32px;
    margin: -50px 56.5% 30px;
    
}
.medium_text{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 44px */
    margin-top: 69px;
    margin-left: 11%;
}
.first_product{
    display: inline-flex;
    background-color: #E1EDE6;
    width: 350px;
    height: 730px;
    margin-left: 165px;
}
.product1{
    padding: 20px 20px 288px 20px;
}
.under_image_text{
    position: absolute;
    margin-top: 462px;
    margin-left: 20px;
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.under_text_text{
    position: absolute;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 310px;
    margin-top: 493px;
    margin-left: 20px;
}
.up_price{
    position: absolute;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 536px;
    margin-left: 20px;
}
.buttonprice{
    position: absolute;
    display: flex;
    width: 310px;
    height: 35px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    margin-top: 635px;
    margin-left: 20px;
    margin-right: 20px;
}
.price{
    position: absolute;
    color: #598D66;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 587px;
    margin-left: 20px;
}
.second_product{
    display: inline-flex;
    background-color: #E1EDE6;
    width: 350px;
    height: 730px;
    margin-left: 30px;
}
.product2{
    padding: 20px 20px 288px 20px;
}
.under_image_text2{
    display: inline-flex;
    position: absolute;
    margin-top: 462px;
    margin-left: 20px;
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.under_text_text{
    position: absolute;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 310px;
    margin-top: 493px;
    margin-left: 20px;
}
.third_product{
    display: inline-flex;
    background-color: #E1EDE6;
    width: 350px;
    height: 730px;
    margin-left: 30px;
}
.second_str{
    margin-top: 30px;
}
.banner{
    width: 100%;
    height: 574px;
    position: relative;
    margin-top: 70px;
}
.banner_pic{
    width: 100%;
    height: 574px;
}
.star_pic{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 75%;
    left: 165px;
}
.banner_text1{
    width: 421px;
    color: #F4F6F5;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 40px */
    position: absolute;
    bottom: 75%;
    left: 265px;
}
.banner_main_text{
    width: 540px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    position: absolute;
    bottom: 300px;
    left: 165px;
}
.banner_main_text2{
    width: 540px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    position: absolute;
    bottom: 200px;
    left: 165px;
}
.banner_button{
    display: inline-flex;
    height: 50px;
    padding: 17px 70px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background: #EEDB6D;
    position: absolute;
    bottom: 70px;
    left: 165px;
}
.banner_button_text{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.our_team{
    width: 1110px;
    height: 440px;
    margin: 80px 165px 80px 165px;
}
.our_team_text{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 44px */
    position: absolute;
    display: inline;
    margin-top: 6.3%;
    margin-left: 30px;
}
.our_team_under_text{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    position: absolute;
    display: inline;
    margin: 11% 30px;
    width: 635px;
}
.our_teamxd{
    position: absolute;
    display: inline;
    margin: 20.3% 30px;
}
.footer{
    background: #E1EDE6;
    width: 100%;
    display: inline-flex;
}
.phone_number{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 41px;
}
.masterskaya{
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 8px;
}
.footer1{
    margin-left: 165px;
}
.footer2{
    margin-left: 142px;
}
.img-logo2{
    width: 35px;
    height: 35px;
    margin-top: 23px;
    margin-bottom: -7px;
}
.footer_text1{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 23px;
}
.footer_text2{
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-top: 6px;
}
.footer3{
    margin-left: 60px;
    
}
.footer_center{
    display: flex;
    width: 445px;
    align-items: flex-start;
    gap: 60px;
}
.footer_right{
    margin-left: 400px;
}
.footer_right2{
    color: #86928B;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
    margin-top: 6px;
}
.dark_button{
    padding: 8px;
    background-color: greenyellow;
    color: black;
    border: black;
    border-radius: 50px;
    font-size: 20px;
}